.root
{-fx-background-color: #474747;
}


.buttonEmpty
{	-fx-text-fill: white;
    -fx-background-color: #474747;
    -fx-padding: 5;

	
}
.buttonCross{
    -fx-background-image: url('cross.png');
    -fx-background-color: #474747;
    -fx-background-position: center center;
    -fx-padding: 5;
}
.buttonCircle{
	-fx-background-image: url('circle.png');
    -fx-background-color: #474747;
    -fx-background-position: center center;
    -fx-padding: 5;
}